@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
	box-sizing: border-box;
	background-color: transparent;
	color: inherit;
	padding: 0;
	margin: 0;
	border: none;
	font: inherit;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

:root {
	--tone-0: #fff;

	--tone-1: #bcf4ff;
	--tone-2: #67e3ff;
	--tone-3: #3cbcd9;
	--tone-4: #00b1d9;

	--tone-5: #0888a5;

	--tone-6: #0c2f74;

	--tone-7: #16223c;
	--tone-8: #101726;
}
